@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@edx/paragon/styles/scss/core/core";
@import "~@edx/brand/paragon/overrides";

#feedback-courses-carousel .feedback-container .feedback-carousel-title {
  margin: 0 0 20px 0;
  color: var(--pgn-color-primary-base);
}

body {
  background-color: unset;
}

.feedback-card {
  background: white;
}
