@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@edx/paragon/styles/scss/core/core";

body {
  background-color: transparent;

  #tenant-stats{
    .stats-container{
      margin: 0;
      width: auto;

      .stats-image {
        color: var(--pgn-color-secondary-200, #d1d1d1);
      }
    }
  }
}
