<%namespace name='static' file='static_content.html'/>
<%page args="show_videos, show_courses, show_problems, show_learners, show_instructors, show_certificates"/>
<html>
<head>
    <meta charset="utf-8">
    <title>Tenant Stats</title>
    <link rel="stylesheet" href="${static.url('tenant_stats/css/tenant_stats.css')}">
</head>
<body>
    <div id="tenant-stats"></div>
    <script>
      var showVideos = "true" === "${show_videos}";
      var showCourses = "true" === "${show_courses}";
      var showProblems = "true" === "${show_problems}";
      var showLearners = "true" === "${show_learners}";
      var showInstructors = "true" === "${show_instructors}";
      var showCertificates = "true" === "${show_certificates}";
    </script>
    <script src="${static.url('tenant_stats/js/tenant_stats.js')}"></script>
</body>
</html>
