<%namespace name='static' file='static_content.html'/>
<html>
<head>
    <meta charset="utf-8">
    <title>Tenant Stats</title>
    <link rel="stylesheet" href="${static.url('tenant_stats/css/tenant_stats.css')}">
</head>
<body>
    <div id="tenant-stats"></div>
    <script>
      var showVideos = "false" === "${hideVideos}";
      var showCourses = "false" === "${hideCourses}";
      var showProblems = "false" === "${hideProblems}";
      var showLearners = "false" === "${hideLearners}";
      var showInstructors = "false" === "${hideInstructors}";
    </script>
    <script src="${static.url('tenant_stats/js/tenant_stats.js')}"></script>
</body>
</html>
