<%namespace name='static' file='static_content.html'/>
<html>
<head>
    <meta charset="utf-8">
    <title>Tenant Stats</title>
    <link rel="stylesheet" href="${static.url('tenant_stats/css/tenant_stats.css')}">
</head>
<body>
    <div id="tenant-stats"></div>
    <script>
      var showVideos = "true" === "${showVideos}";
      var showCourses = "true" === "${showCourses}";
      var showProblems = "true" === "${showProblems}";
      var showLearners = "true" === "${showLearners}";
      var showInstructors = "true" === "${showInstructors}";
    </script>
    <script src="${static.url('tenant_stats/js/tenant_stats.js')}"></script>
</body>
</html>
